.untitled-design-3-1 {
  position: absolute;
  top: 0;
  left: 14px;
  width: 251px;
  height: 77px;
  object-fit: cover;
}
.line-1-stroke {
  position: absolute;
  top: 76px;
  left: 0;
  width: 1459.01px;
  height: 1px;
}
.bambayya-pav-bhaji-1-icon,
.desktop-2-child {
  position: absolute;
  top: 122.31px;
  left: 1447px;
  width: 75.42px;
  height: 23.19px;
}
.desktop-2-child {
  top: 514.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.mumbai-pav-bhaji-in-instant-po {
  position: absolute;
  top: 83px;
  left: 0;
  width: 1440px;
  height: 423px;
  object-fit: cover;
}
.desktop-2-item,
.pav-bhaji-icon {
  position: absolute;
  top: 250px;
  left: 452.92px;
  width: 545px;
  height: 132px;
}
.desktop-2-item {
  top: 515.06px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ingredients-needed {
  margin: 0;
  font-size: var(--font-size-17xl);
}
.pavpav-buns {
  margin: 0;
}
.ingredients-needed-pavpav-container {
  position: absolute;
  top: 525px;
  left: 28px;
  display: inline-block;
  width: 821px;
  height: 766px;
}
.desktop-2-child1,
.desktop-2-child2,
.desktop-2-inner,
.line-div {
  position: absolute;
  top: 1310.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.desktop-2-child1,
.desktop-2-child2,
.line-div {
  top: 1655.5px;
}
.desktop-2-child1,
.desktop-2-child2 {
  top: 3320.5px;
}
.desktop-2-child2 {
  top: 3691.5px;
}
.pavbhaji-4-1-icon {
  position: absolute;
  top: 1960px;
  left: 909px;
  width: 496px;
  height: 201px;
  object-fit: cover;
}
.preparation-pressure-cook-container {
  position: absolute;
  top: 1331px;
  left: 28px;
  display: inline-block;
  width: 836px;
  height: 272px;
}
.preparations-pavbhaji-1-icon {
  position: absolute;
  top: 1364px;
  left: 909px;
  width: 492px;
  height: 267px;
  object-fit: cover;
}
.heat-oil {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.method-heat-oil-container {
  position: absolute;
  top: 1681px;
  left: 540px;
  text-align: right;
  display: inline-block;
  width: 861px;
  height: 191px;
  font-size: var(--font-size-17xl);
}
.pavbhaji-3-1-icon {
  position: absolute;
  top: 1696px;
  left: 51px;
  width: 489px;
  height: 195px;
  object-fit: cover;
}
.add-tomatoes-and,
.now-add-ginger {
  position: absolute;
  top: 2006px;
  left: 57px;
  display: inline-block;
  width: 796px;
  height: 54px;
}
.add-tomatoes-and {
  top: 2298px;
  left: 766px;
  width: 695px;
  height: 66px;
}
.pavbhaji-5-1-icon {
  position: absolute;
  top: 2209px;
  left: 57px;
  width: 500px;
  height: 179px;
  object-fit: cover;
}
.add-carrot-beans-container {
  position: absolute;
  top: 2522px;
  left: 51px;
  display: inline-block;
  width: 813px;
  height: 76px;
}
.pavbhaji-6-1-icon {
  position: absolute;
  top: 2469px;
  left: 901px;
  width: 500px;
  height: 182px;
  object-fit: cover;
}
.add-potatoes-needed {
  position: absolute;
  top: 2762px;
  left: 550px;
  text-align: right;
  display: inline-block;
  width: 847px;
  height: 82px;
}
.pavbhaji-7-1-icon {
  position: absolute;
  top: 2676px;
  left: 57px;
  width: 500px;
  height: 173px;
  object-fit: cover;
}
.then-mash-the {
  position: absolute;
  top: 2953px;
  left: 51px;
  display: inline-block;
  width: 776px;
  height: 99px;
}
.pavbhaji-8-1-icon {
  position: absolute;
  top: 2888px;
  left: 905px;
  width: 500px;
  height: 180px;
  object-fit: cover;
}
.cook-for-another {
  position: absolute;
  top: 3168px;
  left: 580px;
  text-align: right;
  display: inline-block;
  width: 813px;
  height: 77px;
}
.pavbhaji-9-1-icon {
  position: absolute;
  top: 3107px;
  left: 57px;
  width: 500px;
  height: 173px;
  object-fit: cover;
}
.how-to-serve-container {
  position: absolute;
  top: 3342px;
  left: 57px;
  display: inline-block;
  width: 801px;
  height: 256px;
  font-size: var(--font-size-17xl);
}
.pav-bhaji-1-1 {
  position: absolute;
  top: 3363px;
  left: 890px;
  width: 511px;
  height: 287px;
  object-fit: cover;
}
.bnapati {
  position: absolute;
  top: 3786px;
  left: 566px;
  font-size: 96px;
  font-family: var(--font-allura);
  display: inline-block;
  width: 310px;
  height: 128px;
}
.desktop-2 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 3999px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-abril-fatface);
}
