.untitled-design-3-1 {
  position: absolute;
  top: 0;
  left: 14px;
  width: 251px;
  height: 77px;
  object-fit: cover;
}
.desktop-25-child {
  position: absolute;
  top: 76.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1460.01px;
  height: 1px;
}
.kalyani-akella-gml9g1krqcm-uns-icon {
  position: absolute;
  top: 84px;
  left: 0;
  width: 1440px;
  height: 429px;
  object-fit: cover;
}
.matar-paneer {
  position: absolute;
  top: 212px;
  left: 428px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 604px;
  height: 148px;
  -webkit-text-stroke: 2px #000;
}
.desktop-25-item {
  position: absolute;
  top: 520.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ingredients-needed1 {
  font-size: var(--font-size-17xl);
}
.ingredients-needed {
  margin: 0;
}
.ginger-garlic-paste1 {
  text-decoration: underline;
}
.ginger-garlic-paste {
  color: inherit;
}
.dry-powder1 {
  font-size: var(--font-size-7xl);
}
.turmeric-powder {
  font-size: var(--font-size-5xl);
}
.ingredients-needed-paneerindi-container {
  position: absolute;
  top: 556px;
  left: 42px;
  color: inherit;
  display: inline-block;
  width: 617px;
  height: 551px;
}
.for-the-seasoning {
  margin: 0;
  font-size: var(--font-size-7xl);
}
.for-the-seasoning-container {
  position: absolute;
  top: 615px;
  left: 781px;
  display: inline-block;
  width: 535px;
  height: 530px;
}
.desktop-25-inner {
  position: absolute;
  top: 1144.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.preparation-put-tomatoes-container {
  position: absolute;
  top: 1164px;
  left: 42px;
  color: inherit;
  display: inline-block;
  width: 1356px;
  height: 317px;
}
.line-div {
  position: absolute;
  top: 1496.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.heat-oil-in {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.method-heat-oil-container {
  position: absolute;
  top: 1528px;
  left: 42px;
  display: inline-block;
  width: 813px;
  height: 222px;
  font-size: var(--font-size-17xl);
}
.matar-panner1-1-icon {
  position: absolute;
  top: 1566px;
  left: 886px;
  width: 512px;
  height: 231px;
  object-fit: cover;
}
.method-heat-oil-container1 {
  position: absolute;
  top: 1856px;
  left: 539px;
  text-align: right;
  display: inline-block;
  width: 828px;
  height: 207px;
  font-size: var(--font-size-17xl);
}
.matar-paneer-2-1-icon {
  position: absolute;
  top: 1868px;
  left: 42px;
  width: 497px;
  height: 221px;
  object-fit: cover;
}
.cook-on-medium-container {
  position: absolute;
  top: 2182px;
  left: 42px;
  display: inline-block;
  width: 856px;
  height: 204px;
}
.matar-paneer-3-1-icon {
  position: absolute;
  top: 2152px;
  left: 918px;
  width: 480px;
  height: 231px;
  object-fit: cover;
}
.let-the-paneer-container {
  position: absolute;
  top: 2471px;
  left: 582px;
  text-align: right;
  display: inline-block;
  width: 807px;
  height: 220px;
}
.matar-paneer-4-1-icon {
  position: absolute;
  top: 2455px;
  left: 42px;
  width: 514px;
  height: 236px;
  object-fit: cover;
}
.desktop-25-child1 {
  position: absolute;
  top: 2816.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.bnapati {
  position: absolute;
  top: 2862px;
  left: 566px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-allura);
  display: inline-block;
  width: 310px;
  height: 128px;
}
.desktop-25 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 3057px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-abril-fatface);
}
