.untitled-design-3-1 {
  position: absolute;
  top: 0;
  left: 14px;
  width: 251px;
  height: 77px;
  object-fit: cover;
}
.desktop-24-child {
  position: absolute;
  top: 76.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1460.01px;
  height: 1px;
}
.nisha-ramesh-q5mppgld5zk-unspl-icon {
  position: absolute;
  top: 83px;
  left: 0;
  width: 1440px;
  height: 431px;
  object-fit: cover;
}
.gajar-halwa {
  position: absolute;
  top: 225px;
  left: 428px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 604px;
  height: 148px;
  -webkit-text-stroke: 2px #000;
}
.desktop-24-item {
  position: absolute;
  top: 520.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ingredients-needed {
  margin: 0;
  font-size: var(--font-size-17xl);
}
.milk-34-cup {
  margin: 0;
}
.ingredients-needed-grated-container {
  position: absolute;
  top: 551px;
  left: 55px;
  display: inline-block;
  width: 398px;
  height: 354px;
}
.desktop-24-inner {
  position: absolute;
  top: 904.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.preparation-wash-peel-container {
  position: absolute;
  top: 935px;
  left: 55px;
  display: inline-block;
  width: 877px;
}
.carrothalwarecipe-1-1-icon {
  position: absolute;
  top: 994px;
  left: 984px;
  width: 412px;
  height: 220px;
  object-fit: cover;
}
.line-div {
  position: absolute;
  top: 1253.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.add-milk-to {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.method-add-milk-container {
  position: absolute;
  top: 1311px;
  right: 44px;
  text-align: right;
  display: inline-block;
  width: 721px;
  height: 151px;
  font-size: var(--font-size-17xl);
}
.carrothalwarecipe-2-1-icon {
  position: absolute;
  top: 1298px;
  left: 55px;
  width: 412px;
  height: 211px;
  object-fit: cover;
}
.once-the-pressure {
  position: absolute;
  top: 1622px;
  left: 50px;
  display: inline-block;
  width: 861px;
  height: 99px;
}
.carrothalwarecipe-3-1-icon {
  position: absolute;
  top: 1552px;
  left: 979px;
  width: 412px;
  height: 220px;
  object-fit: cover;
}
.once-the-milk-container {
  position: absolute;
  top: 1849px;
  left: 512px;
  text-align: right;
  display: inline-block;
  width: 884px;
  height: 164px;
}
.carrothalwarecipe-4-1-icon {
  position: absolute;
  top: 1809px;
  left: 55px;
  width: 398px;
  height: 220px;
  object-fit: cover;
}
.if-using-you-container {
  position: absolute;
  top: 2142px;
  left: 50px;
  display: inline-block;
  width: 861px;
  height: 184px;
}
.carrothalwarecipe-5-1-icon {
  position: absolute;
  top: 2102px;
  left: 984px;
  width: 412px;
  height: 225px;
  object-fit: cover;
}
.desktop-24-child1 {
  position: absolute;
  top: 2504.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.bnapati {
  position: absolute;
  top: 2550px;
  left: 566px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-allura);
  display: inline-block;
  width: 310px;
  height: 128px;
}
.desktop-24 {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 2710px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-abril-fatface);
}
